<div class="form-wrapper">
	<%= form_for @post, html: {multipart: true, class: 'form-horizontal' } do |f| %>

		<div class="form-group ">
			<%= f.file_field :image%>		
		</div>
		<div class="form-group text-center">
			<%= f.text_field :comment,class: 'form-control' %>	
		</div>
		<%= f.hidden_field :user_id,class: 'form-control', value: current_user.id %>
		<div class="form-group text-center">
			<%= f.submit  "Create Post",class: 'btn-success' %>
		</div>
	<%end%>
</div>

